body{
    background: url(carman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    background-attachment: fixed;
}

.Heading1{
    background-color: rgb(171, 171, 205);
}

.Heading2{
    background-color: rgb(254, 255, 92);
}

.Heading3{
    background-color: #504B5B;
}

.Heading4{
    background-color: #3CBC5A;
}

